@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400,700&display=swap');

* {margin: 0;padding: 0;box-sizing: border-box;}
ul { list-style: none;}
a { color: inherit; text-decoration: none;}

.btn {
    width: 168px;
    height: 48px;
    line-height: 48px;
    border: 1px solid #111;
    border-radius: 100px;
    text-align: center;
    display: inline-block;
}

.btn.filled {
    background-color: #111;
    color: #fff;
}
body {
    background-color: #fff;
    color: #111;
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
}

.wrap {
}

/* header */
.header {
    height: 80px;
}

.header .container {
    height: 80px;
    display: flex;
    align-items: center;
}

.header .logo {
    margin-right: auto;
}
.header .logo img{
    width: 156px;
}

.header .nav {
    display: flex;
    align-items: center;
}

.header .nav a {
    display: block;
    height: 80px;
    line-height: 80px;
    text-align: center;
    padding: 0 40px;
}

.header .nav a:hover {
    color: #EB5757;
}

.header .nav li.on {
    color: #EB5757;
}


.header .cart {
    position: relative;
    margin-left: 40px;
}

.header .cart i {
    font-size: 24px;
}
.header .cart #count {
    position: absolute;
    top: -4px;
    right: -6px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    color: #fff;
    font-size: 10px;
    background-color: red;
    text-align: center;
}


/* slide */
.slider {
    background-image: url("../image/slide.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}
.slider .container {
    position: relative;
}
.slider h2{
    font-size: 60px;
    line-height: 1.3;
    position: absolute;
    top: 120px;
    left: 20px;
}

.slider .container span {
    font-size: 80px;
}

.slider .btns {
    position: absolute;
    top: 330px;
    left: 20px;
}

.slider .btn.filled {
    margin-left: 30px;
}

.container {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}